extends layout

block content
    h1 #{title}
    form(method='POST', action='/thoughts/add')
        #form-title
            label Title:
            input.form-control(name='title', type='text')
        #form-body
            label Body:
            textarea.form-control(name='body')
            br
        input.btn.btn-primary(type='submit', value='Submit')