extends layout

block content
    h1= thought.title
    h5 Written by #{author}
    br
    p= thought.body
    hr
    if user
        if user.id === thought.author
            a.btn.btn-secondary(href='/thoughts/edit/'+thought._id) Edit
            a.btn.btn-danger.delete-thought(href='#', data-id=thought._id) Delete