nav {
    margin-bottom: 1em;
}

h1 {
    text-decoration: underline;
}

a {
    font-size: large;
}

a.btn.btn-secondary {
    margin-right: 1em;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success_msg {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}